.selling-points.text-center.section.cf
  .container

    .row.section-intro
      %h2 I need Thamiris here
      %p Farmly makes it easy to find &amp; buy from the UK’s best local food producers.
    / section header end
    .row-fluid
      .span4
        %img{:alt => "Find local food", :height => "91px", :src => "http://www.farmly.net/images/search.png", :width => "91px"}/
        %h3 Find local food
        %p From beer to bacon and everything in between, see what's near you.
      / span3 end
      .span4
        %img{:alt => "Support local sellers", :height => "91px", :src => "http://www.farmly.net/images/local.png", :width => "91px"}/
        %h3 Support local sellers
        %p Start replacing your supermarket shopping with food produced locally.
      / span3 end
      .span4
        %img{:alt => "Enjoy better food", :height => "91px", :src => "http://www.farmly.net/images/sun.png", :width => "91px"}/
        %h3 Enjoy better food
        %p Discover delicious food &amp; drink from producers in your local area.
      / span3 end
    / row-fluid end
    .button-group.breakout-area.clearfix