.ranking.text-center.section
  .container

    .row.section-intro
      %h2 Nós estamos felizes de anunciar os vencedores
    / section header end
    .row-fluid
      .span4
        %img{:alt => "Segundo", :src => "/assets/second.png"}/
        .label
          %p Segundo Lugar
          %h3 Junina Marróia
      .span4
        %img{:alt => "Primero", :src => "/assets/first.png"}/
        .label
          %p Primeiro Lugar
          %h3 Tradição da Roça
      / span3 end
      .span4
        %img{:alt => "Terceiro", :src => "/assets/third.png"}/
        .label
          %p Terceiro Lugar 
          %h3 Pé no Chão 
    
    .breakout-area.clearfix