#page-content.container
  #contacts
    .container
      .row-fluid
        .span5
          %h2.huge
            Contato

        .span6.pull-right.white-box.loading
          %p
            %i.bookmark 
            Maranhao Lunes
          %p
            %i.address 
            Praça 1&deg; de Maio - Fortaleza CE
          %p
            %i.phone 
            Fone: (85) 8774 7745 / (85) 96851077
          %p
            %i.email 
            Email: lunesmaranhao@bol.com.br