#page-content.container
  #event
    .row-fluid
      .span
        %h2.text-center
          Histórico do Arraiá do Parque Dois Irmãos

    .row-fluid.paper-box
      .span4
        %p 
          Em 1994 na Rua Afonso Lopes no Bairro Parque Dois Irmãos, <strong>um grupo de moradores</strong> organizaram-se para formar uma quadrilha junina, pois a maioria deles vieram do interior do estado e já era costume nos meses de junho e julho vivenciarem a cultura e a tradição dos festejos juninos.
        %p
          Entre essas pessoas estava a <strong>dona Valquíria Magalhães de Albuquerque</strong>, que sempre gostou de movimentos culturais e incentivava os demais para fazerem festejos juninos no bairro.

        %p
          Naquela época era muito difícil a realização de eventos no bairro, devido a falta de infraestrutura e também a falta de apoio para realizá-los.
        %p
          Os primeiros ensaios da quadrilha do bairro foram realizados na rua, mas devido a falta de iluminação nas ruas, os ensaios eram realizados somente quando a lua estava cheia, surgindo assim o nome da primeira quadrilha de São João do bairro, <strong>"Quadrilha Clarão da Lua"</strong> que por muitos anos foi motivo de alegria no bairro.
        
      .span4
        %img.img-polaroid{:alt => "quadrilha", :src => "/assets/quadrilha.jpg"}/
        %p
          A partir de 2005 até hoje o então Arraiá do Parque Dois Irmãos começou a ser realizado pela Associação dos Moradores do Parque Dois Irmãos, ganhando então um novo endereço.
        %p
          O evento passou a ser realizado na Praça 1º de Maio entre as Rua José Pedra e a Rua Afonso Lopes ao lado da Igreja Mãe Santíssima.
      
      .span4
        %p
          <strong>A nova diretoria da Associação presidida pelo Sr. Maranhão </strong>levou mais beleza e segurança ao Arraiá, que no mês de junho promove a maior expressão da nossa cultura regional, os festejos juninos.
        %p
          Mas o Arraiá do Parque Dois Irmãos é muito mais que isso é uma opção de lazer e entretenimento as famílias e principalmente aos jovens, sendo um dos eventos mais esperados do bairro.
        %h3
          Estrutura do Evento

        %p
          Para melhor servir aos moradores e visitantes que são cerca de <strong>4.000 pessoas por noite</strong>, fazemos parcerias com orgãos públicos e empresas privadas. 
        %p
          Oferecendo assim os serviços de: Palco, Som, Iluminação, Banheiros Químicos, Segurança, Parque Infantil, Barracas de Comidas Típicas e Barracas de Bebidas, gerando assim uma renda extra aos moradores que trabalham no evento.