#page-content.container
  #map
    .container
      .row-fluid
        %h2.text-center
          O Arraiá localiza-se na

      .row-fluid
        .span6
          #map-canvas.loading
          
        .span6.localization.text-center.loading
          .tk-acta-display.paper-box
            %img#marker{:alt => "Support local sellers", :src => "/assets/marker.png"}/
            #street
              %p
                Praça 1&deg; de Maio
              %p
                Rua Afonso Lopes com Rua José Pedra
              %p
                Bairro Parque Dois Irmãos

- content_for(:maps) do
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAlpCTU0WChVyDmdDAEqr5k39Gc9R-vNJ0&sensor=false", :type => "text/javascript"}
  = javascript_include_tag :maps