#page-content.container
  #multimedia
    .row-fluid
      .span
        %h2.text-center
          Images

    .row-fluid
      .span8
        %ul
          %li 
            %a{:href => "/assets/2_b.jpg", :rel => "lightbox[test]", :title => "TITOLO"}
              %img{:alt => "thumb-1", :src => "/assets/2_s.jpg", :width => "180"}
          %li 
            %a{:href => "/assets/1_b.jpg", :rel => "lightbox[test]", :title => "TITOLO"}
              %img{:alt => "thumb-1", :src => "/assets/1_s.jpg", :width => "180"}
          %li 
            %a{:href => "/assets/2_b.jpg", :rel => "lightbox[test]", :title => "TITOLO"}
              %img{:alt => "thumb-1", :src => "/assets/2_s.jpg", :width => "180"}
          %li 
            %a{:href => "/assets/1_b.jpg", :rel => "lightbox[test]", :title => "TITOLO"}
              %img{:alt => "thumb-1", :src => "/assets/1_s.jpg", :width => "180"}

- content_for(:lightbox) do
  = javascript_include_tag :smooth_scroll
  = javascript_include_tag :lightbox

