#page-content.container

  %h2.medium
    Junho 2013

  .container-fluid
    .row-fluid
      .span4
        .row
          .span.paper-box
            %h3.day
              %span 21

            .offset2
              %ul.unstyled.tk-arvo
                %li 
                  Herdeiros do Sertão
                %li   
                  Pé no Chão
                %li 
                  Sossego do Sertão
                %li 
                  Animação Junina
        .row
          .span.paper-box
            %h3.day
              %span 22 
            
            .offset2
              %ul.unstyled.tk-arvo
                %li
                  Encanto da Primavera
                %li
                  Atração Junina

        .row
          .span.paper-box
            %h3.day
              %span 23

            .offset2
              %ul.unstyled.tk-arvo
                %li
                  Luar Sertanejo
                %li
                  Junina Marróia
                %li
                  Tradição da Roça 
      .span7
        .row
          .span.white-box.offset2
            %ul.unstyled
              %li.tk-acta-display
                %span
                  19:00
                Abertura do evento com Parque Infantil, Tendas de Comidas Típicas e Tendas de Bebidas tudo acompanhado de muita música.
              %li.tk-acta-display
                %span
                  21:00
                Apresentação das Quadrilhas Juninas.
              %li.tk-acta-display
                %span
                  02:00
                Encerramento do evento.