#page-content.container

  %h2.medium
    Junho 2013

  .container-fluid
    .row-fluid
      .span4
        .row
          .span.paper-box
            %h3.day
              %span 21

            .offset2
              %ul.unstyled.tk-arvo
                %li 
                  Herdeiros do sertão
                %li   
                  Pé no chão
                %li 
                  Sossego do sertão
                %li 
                  Animação junina
        .row
          .span.paper-box
            %h3.day
              %span 22 
            
            .offset2
              %ul.unstyled.tk-arvo
                %li
                  Encanto da primavera
                %li
                  Atração junina

        .row
          .span.paper-box
            %h3.day
              %span 23

            .offset2
              %ul.unstyled.tk-arvo
                %li
                  Luar sertanejo
                %li
                  Junina marroia
                %li
                  Tradição da roça 
      .span7
        .row
          .span.white-box.offset2
            %ul.unstyled
              %li.tk-acta-display
                %span
                  19:00
                Abertura do evento com parque infantil, tendas de comidas tipicas e bebidas acompanhados de muita musica
              %li.tk-acta-display
                %span
                  21:00
                Apresentação das quadrilhas juninas
              %li.tk-acta-display
                %span
                  02:00
                Encerramento do evento