#page-content.container
  #programma
    .row-fluid
      .span
        %h2.text-center
          Junho 2013 ~ Programação 

    .container-fluid
      .row-fluid
        .span4
          .row
            .span.paper-box
              %h3.day
                %span 21

              .offset2
                %ul.unstyled
                  %li 
                    Herdeiros do Sertão
                  %li   
                    Pé no Chão
                  %li 
                    Sossego do Sertão
                  %li 
                    Animação Junina
          .row
            .span.paper-box
              %h3.day
                %span 22 
              
              .offset2
                %ul.unstyled
                  %li
                    Encanto da Primavera
                  %li
                    Atração Junina

          .row
            .span.paper-box
              %h3.day
                %span 23

              .offset2
                %ul.unstyled
                  %li
                    Luar Sertanejo
                  %li
                    Junina Marróia
                  %li
                    Tradição da Roça 
        .span7
          .row
            .span.white-box.offset2
              %ul.unstyled
                %li
                  %span
                    19:00
                  Abertura do evento com Parque Infantil, Tendas de Comidas Típicas e Tendas de Bebidas tudo acompanhado de muita música.
                %li
                  %span
                    21:00
                  Apresentação das Quadrilhas Juninas.
                %li
                  %span
                    02:00
                  Encerramento do evento.