%footer.footer.clearfix
  .top-footer
  .container
    .row-fluid
      .span6
        .row-fluid
          %ul.span3.nav.nav-list
            %li.nav-header Arraiá do Parque Dois Irmãos
            %li
              %a{:href => "http://www.farmly.net/"} Home
            %li
              %a{:href => "http://www.farmly.net/about"} About Us
            %li
              %a{:href => "http://www.farmly.net/about/#contact"} Contact
            %li
              %a{:href => "http://blog.farmly.net"} Blog
          %ul.span4.nav.nav-list
            %li.nav-header Legal
            %li
              %a{:href => "http://www.farmly.net/privacy"} Privacy Policy
        / row fluid end
      / span6 end
      #tweets.span6.pull-right
    / row end
    %hr/
    .row-fluid.footer-bottom
      %p.span4.pull-left Copyright &copy; #{ Date.today.year }
      %p.text-right.span4.pull-right
        Made by
        %a{:href => "http://www.matteoborgato.com"} Borteo
    / row end
  / container end
/ footer end
  