%header
  .navbar-pages
    %h1.hidden 
      XIX - Evento Arraiá do Parque Dois Irmãos
    %a{:href => "/"}
      %img#logo-small{:src => "/assets/logo-small.png"}
        

.banner-pages
  .container