@font-face {
    font-family: 'Trocchi';
    src: url('/assets/Trocchi-webfont.eot');
    src: url('/assets/Trocchi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Trocchi-webfont.woff') format('woff'),
         url('/assets/Trocchi-webfont.ttf') format('truetype'),
         url('/assets/Trocchi-webfont.svg#TrocchiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TrocchiBold';
    src: url('/assets/Trocchi-Bold-webfont.eot');
    src: url('/assets/Trocchi-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/Trocchi-Bold-webfont.woff') format('woff'),
         url('/assets/Trocchi-Bold-webfont.ttf') format('truetype'),
         url('/assets/Trocchi-Bold-webfont.svg#TrocchiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}