/*----------------------
Main Styles
----------------------*/

body {
    color: #4f4f4f;
    position: relative;
    background: url(/assets/fabric_plaid.png);
}

/*----------------------
Header
----------------------*/
header {
    width: 100%;
    position: relative;
    padding: 0;
    height: 1em;
    background: url(/assets/zigzag.png) bottom left repeat-x;
    bottom: -12px;
}

header.fix {
    position: fixed;
    z-index: 999;
    top: 0;
}

.banner,
.banner-pages {
    position: relative;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    height: 100px;
    z-index: -1;  
}

.banner-pages {
    background: url('/assets/plaid.png') center;
}

.home-banner {
    position: relative;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    height: 400px;
    z-index: -1;
}

.banner-1 {
    background: url('/assets/banner1.jpg') center;
    background-size: 100% 100%;
    background-size: cover;
}
.banner-2{
    background: url('/assets/banner2.jpg') center;
    background-size: 100% 100%;
    background-size: cover;
}

.home-banner .sign-up {
    float: left;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    padding-right: 4px; /*account for input margin-right*/
    border-radius: 8px;
    margin: 15px 0;
}

.home-banner .sign-up input {
    border: none;
    margin-right: 6px;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
}

.home-banner h2 {
    padding-bottom: 0.4em;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.15em;
}

.home-banner p {
    font-size: 24px;
    width: 100%;
    line-height: 1.15em;
}

#logo-small {
    position: relative;
    z-index: 999;
    left: 0;
    top: 10px;
}

#logo {
    position: absolute;
    z-index: 999;
    left: 0;
    top: -12px;
    animation: swinging 4s infinite ease-in-out;
    transform-origin: right;
    -moz-animation: swinging 4s infinite ease-in-out;
    -moz-transform-origin: right;
    -webkit-animation: swinging 4s infinite ease-in-out;
    -webkit-transform-origin: right;
}
 
@keyframes swinging {
    0% { 
        transform: rotate(0deg);
    }
    30% { 
        transform: rotate(3deg);
    }
    100% { 
        transform: rotate(0deg);
    }
}

@-moz-keyframes swinging {
    0% { 
        -moz-transform:rotate(0deg);
    }
    30% { 
        -moz-transform: rotate(3deg);
    }
    100% { 
        -moz-transform:rotate(0deg);
    }
}

@-webkit-keyframes swinging {
    0% { 
        -webkit-transform:rotate(0deg);
    }
    30% { 
        -webkit-transform: rotate(3deg);
    }
    100% { 
        -webkit-transform:rotate(0deg);
    }
}

nav {
    width: 100%;
    height: 128px;
    background: url(/assets/bg-nav.png) repeat-x top left;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    overflow: visible;
    width: 72%;
    min-width: 1020px;
}
nav li {
    padding: 0 .8em;
    float: left;
    margin-top: 22px;
    text-align: center;
    border: 1px solid transparent;
    a,
    a:visited {
        position: relative;
        font-size: 2.2em;
        height: 100%;
        letter-spacing: -2;
        line-height: 2.1em;
        color: #F6EDD8;
        cursor: pointer;
        font-weight: 200;
        @include text-shadow(rgba(0,0,0,0.4) 0 1px 2px);
    }
    a:hover {
        text-decoration: none;
        color: #F6EDD8;
    }
}

nav li:hover {
    background: rgba(0, 0, 0, 0.08);
    @include border-radius(4px);
}

nav .selected {
    background: rgba(255, 255, 255, 0.2);
    @include box-shadow(rgba(0,0,0,0.4) 0 1px 4px inset);
    @include border-radius(4px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-pages {
    margin: 0 auto;
    max-width: 803px;
    min-width: 350px
}

.huge {
    color: #3C3C3C;
    font-size: 8em;
    line-height: 1em;
}
.medium {
    color: #3C3C3C;
    font-size: 4em;
    line-height: 1em;
}

#contacts p {
    font-weight: 200;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    font-size: 1.2em;
}
#map p {
    font-weight: 200;
    height: 20px;
    line-height: 20px;
    font-size: 1.2em;
}
#map-canvas {
    height: 300px;
    width: 100%;
}

.localization .well {
    height: 260px;
}

.localization .well img {
    margin-bottom: 30px;
}

.email {
    background: url(/assets/envelop.png) center left no-repeat;
}
.phone {
    background: url(/assets/phone.png) center left no-repeat;
}
.address {
    background: url(/assets/location.png) center left no-repeat;
}
.bookmark {
    background: url(/assets/bookmark.png) center left no-repeat;
}

section {
    margin: 50px 0;
}


h3.day {
    background: url('/assets/red-ribbon.png') top left no-repeat;
    height: 59px;
    width: 99px;
    color: #FEFEFE;
    font-size: 3em;
    padding-top: 8px;
    padding-left: 10px;
    font-family: Georgia, serif;
    @include text-shadow(rgba(0,0,0,0.2) 1px 2px 0);
    position: absolute;
    left: -10px;
}

.paper-box {
    background: url('/assets/stripes.png') #F9F0CD;
    width: 100%;
    height: 100%;
    border: 1px solid #D8D0A1;
    @include box-shadow(white 0 1px 0px inset, #CCC 0 1px 2px);
    position: relative;
    margin-bottom: 20px;

    li {
        margin: 1em 0;
        font-size: 1.4em;
        color: #665;
    }
}

#map .paper-box {
    padding: 0px 0px 27px 0;
}

.white-box {
    background: url('/assets/stripes.png') #FFFEFE;
    border: 1px solid #FEFEFE;
    margin-bottom: 20px;
    padding: 20px 30px;
    @include box-shadow(#333 0 1px 2px inset, #FFF 0 1px 2px);
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 1.2em 0;
        font-size: 1.4em;
        line-height: 1.2em;
        padding: .8em .8em .4em .8em;
        border-bottom: 1px solid #AAA;
    }
    li:last-child {
        border: 0;
    }
    li span {
        font-size: 2.6em;
        display: block;
        margin-bottom: .45em;
        font-family: Georgia, serif;
    }
}

#marker {
    position: relative;
    top: -60px;
}


#page-content {
    margin-top: 50px;
    margin-bottom: 50px;
}


/*----------------------
Activity
----------------------*/
.activity {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.activity .activity-type {
    position: relative;
    margin-top: 25px;
}

.activity .activity-type i {
    position: relative;
    z-index: 99;
    display: block;
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 32px;
}

.activity .activity-type i.act-new {
    background: #46b91c url(/assets/star.png) no-repeat center center;
}

.activity .activity-type i.act-fav {
    background: #FF6666 url(/assets/heart.png) no-repeat center center;
}

.activity .activity-type i.act-blog {
    background: #2A8FBD url(/assets/pen.png) no-repeat center center;
}

.activity .activity-type img,
.activity img.activity-thumb {
    position: relative;
    z-index: 99;
}

.activity .activity-type:before, /*horizontal line*/
.activity:after { /*vertical line*/
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    background: #ddd;
}

.activity .activity-type:before { /*horizontal line*/
    top: 50%;
    left: 50%;
    width: 100%;
    height: 1px;
}

.activity:after { /*vertical line*/
    width: 1px;
    height: 100%;
    top: 0;
    left: 32px;
}

.activity:first-of-type:after {
    top: 64px;
}

.activity:last-of-type:after {
    height: 35%;
}

.activity .time-ago {
    margin-bottom: 0;
}

.activity h3 {
    margin-top: 0;
    font-weight: normal;
}

.activity h3 a {
    font-weight: bold;
}

.activity .activity-description {
    padding: 12px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
}



.recent.section {
    padding-top: 0;
}

.recent-header {
    padding: 18px 20px;
    background: #ed9a16;
    border-top: 1px solid #f2b446;
    border-bottom: 1px solid #c7770f;
    font-weight: bold;
}

.recent-header h2 {
    margin-right: 12px;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}

.recent-header p {
    margin: 0;
}

.recent-header p a {
    padding: 8px;
    background: #eeab42;
    background: rgba(255,255,255,0.33);
    color: #fff;
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.recent ul,
.recent li {
    width: 100%;
    position: relative;
}

.recent .row {
    margin-top: 40px;
}

.recent .arrow {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -36px;
    left: -36px;
    width: 36px;
    height: 72px;
    border-radius: 36px 0 0 36px;
    background: #fff url('/assets/arrow-back.png') no-repeat 16px center;
    text-indent: -9999px;
    box-shadow: -2px 0 1px rgba(0,0,0,0.15);
}

.recent .arrow:active {
    box-shadow: -1px 0 1px rgba(0,0,0,0.1);
    background-position: 15px center;
}

.recent .arrow.forward {
    left: auto;
    right: -36px;
    border-radius: 0 36px 36px 0;
    background: #fff url('/assets/arrow-forward.png') no-repeat 8px center;
    box-shadow: 2px 0 1px rgba(0,0,0,0.15);
}

.recent .arrow.forward:active {
    box-shadow: 1px 0 1px rgba(0,0,0,0.1);
    background-position: 9px center;
}

.recent .arrow.disabled {
    display: none;
}

.anythingWindow {
    overflow: hidden;
}

.anythingSlider {
    position: relative;
}

.recent li.row {
    margin-top: 30px;
}

.recent .third {
    text-align: center;
}

.recent .store-name {
    padding-bottom: 0.1em;
    font-size: 16px;
}

.recent .owner-name {
    color: #449700;
    font-family: 'Schoolbell', cursive;
    font-size: 18px;
}

.recent .third img {
    border: 4px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

.faqs h3 + p {
    margin-bottom: 30px;
}

.pricing .price {
    color: #fb8217;
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 5px;
}

.pricing .price .currency {
    font-size: 32px;
    vertical-align: text-top;
}

.pricing .price .detail {
    display: block;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
}

.pricing .price-plan .description {
    margin-bottom: 40px;
}

.pricing .price-plan {
    width: 30.33%;
}

.pricing .price-plan.popular {
    position: relative;
    width: 35%;
    background: #fff;
    padding: 30px 30px 40px 30px;
    margin-top: -40px;
    margin-bottom: -40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.pricing .offer-badge {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 87px;
    height: 87px;
}
.pricing .well {
    padding: 19px;
}

.beige.section {
    background: #fbfaf8;
    border: 1px solid #eae9e5;
    border-width: 1px 0;
    text-shadow: 0 1px 0 #fff;
}

.section {
    padding: 50px 0;
}

.section .breakout-area {
    margin-top: 40px;
}

.section-intro {
    margin-bottom: 40px;
    padding-top: 20px;
}

.section-intro h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 0.5em;
}

.section-intro p {
    color: #6b6045;
    font-size: 22px;
}

.selling-points > .span4 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.selling-points .span4 img {
    margin-bottom: 10px;
}


.info-tip {
    display: inline-block;
    text-align: center;
    width: 24px;
    height: 24px;
    background: #aaa;
    border-radius: 20px;
    color: #fff;
    margin-left: 12px;
    text-shadow: none;
    line-height: 24px;
}

.profile-image-change input {
    line-height: 1em;
    margin: 50px 0 0 0;
}


.search-results #results_map {
    width: 100%;
    height: 360px;
    text-shadow: none;
}

.search-results-list li {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.search-results-list .media-heading {
    margin-bottom: 0;
    font-weight: bold;
}


/* --------------------------------
------------- Profile ------------- 
-------------------------------- */
.seller-profile {
    background: #eae9e5;
}

.seller-profile .page {
    background: #fff;
    padding: 0 20px;
    box-shadow: 0 0 4px rgba(0,0,0,0.33);
}

.seller-profile .banner {
    overflow: hidden;
    max-height: 320px;
    position: relative;
}

.seller-profile .banner .store-image {
    width: 100%;
}



.seller-profile .banner .store-header {
    position: absolute;
    z-index: 99;
    background: #161616;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.6);
    color: #fff;
}

.seller-profile .banner .store-header .store-name {
    font-size: 36px;
    margin-bottom: 0.5em;
}

.seller-profile .banner .store-header p a {
    color: #ccc;
}

.seller-profile .banner .store-header .store-address a {
    font-size: 18px;
    background: url(/assets/pointer.png) no-repeat left center;
    padding-left: 18px;
}

.seller-profile #map {
    height: 320px;
    border: 4px solid #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.whats-fresh .time-ago {
    color: #999;
}

.whats-fresh .big-status {
    position: relative;
    z-index: 99;
    margin-right: -70px;
    margin-top: -20px;
    background: #F7F5F2;
    padding: 20px 30px;
    font-size: 18px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.whats-fresh .status .image {
    width: 60px;
    margin-top: 6px;
}

.whats-fresh .status .image img {
    width: 100%;
    height: auto;
}

.whats-fresh .status .text {
    width: 540px;
}

.whats-fresh .options {
    margin-top: 16px;
}

.whats-fresh .more-link {
    position: relative;
    z-index: 22;
    margin: 16px 0;
}

.whats-fresh .more-link span {
    cursor: pointer;
    position: relative;
    z-index: 999;
    background: #fff;
    color: #aaa;
    padding: 0 8px;
    text-decoration: none;
}

.whats-fresh .more-link:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.whats-fresh .updates {
    margin-top: 20px;
}

.whats-fresh .updates-content {
    background: #F7F5F2;
    height: 240px;
    overflow-y: scroll;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5), inset 0 2px 1px rgba(255,255,255,0.5), inset 0 -2px 1px rgba(0,0,0,0.15);
}

.whats-fresh .updates .old-update {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.seller-profile .main {
    border-right: 1px solid #eee;
    padding-right: 20px;
}

.seller-profile .sidebar {
    position: relative;
    z-index: 99;
    margin-top: -50px;
}

.seller-profile .sidebar .section {
    padding: 20px 0;
}

.seller-profile .sidebar .seller-image {
    display: block;
    width: 182px;
    height: 182px;
    margin: 0 auto;
}

.seller-profile .sidebar .staff-images li {
    clear: both;
    line-height: 44px;
    margin-bottom: 10px;
}

.seller-profile .sidebar .staff-images li img {
    float: left;
    margin-right: 8px;
}

.seller-profile .sidebar .seller-name {
    font-size: 28px;
    margin: 16px 0;
}

.seller-profile .product {
    margin-bottom: 40px;
}

.seller-profile .product p,
.seller-profile .sidebar p {
    font-size: 14px;
}

/* --------------------------------
------------- Footer ------------- 
-------------------------------- */
footer {
    background: url('/assets/footer-bg.jpg');
    position: relative;
    z-index: 999;
    font-size: 14px;
}

.top-footer {
    background: url('/assets/footer-top.png') top left repeat-x;
    height: 24px;
    margin-bottom: 30px;
}

footer .nav a:hover {
    color: #fff;
    background: transparent;
}

footer .nav-list .nav-header {
    color: #666;
}

footer a,
footer p,
footer h4 {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
}

footer #tweets small {
    text-transform: uppercase;
    color: #666;
    padding: 0;
}

footer #tweets li {
    margin-bottom: 20px;
}

footer #tweets li p {
    font-weight: normal;
    margin: 0;
}

.footer-bottom {
    font-size: 12px;
    opacity: 0.75;
}