/*----------------------
Main Styles
----------------------*/

body, html {
    color: #4f4f4f;
    position: relative;
    background: url(/assets/fabric_plaid.png) top left repeat;
}

.preload * {
  @include transition(none !important);
}

* {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}


h1, h2, h3, h4 {
    font-family: 'Trocchi', Arial, sans-serif;
}
/*----------------------
    Header
----------------------*/
header {
    width: 100%;
    position: relative;
    padding: 0;
    height: 12px;
    background: url(/assets/zigzag.png) bottom left repeat-x;
    bottom: -12px;
    z-index: 10;
}

.banner,
.banner-pages {
    position: relative;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    height: 100px;
    z-index: -1;  
}

.banner-pages {
    background: url('/assets/flower.png') center;
}

.home-banner {
    position: relative;
    width: 100%;
    padding: 40px 0;
    color: #fff;
    text-shadow: 0 1px 2px #000;
    height: 400px;
    z-index: -1;
}

.banner-1 {
    background: url('/assets/banner1.jpg') center;
    background-size: 100% 100%;
    background-size: cover;
}
.banner-2 {
    background: url('/assets/banner2.jpg') center;
    background-size: 100% 100%;
    background-size: cover;
}

#logo-small {
    position: relative;
    z-index: 999;
    top: 22px;
    @include transition(all 0.2s ease-in-out);
}
#logo-small:hover {
    top: 12px;
}

#logo {
    position: absolute;
    z-index: 999;
    left: 2%;
    top: -12px;
    animation: swinging 4s infinite ease-in-out;
    transform-origin: right;
    -moz-animation: swinging 4s infinite ease-in-out;
    -moz-transform-origin: right;
    -webkit-animation: swinging 4s infinite ease-in-out;
    -webkit-transform-origin: right;
}

#flags-right,
#flags-left {
    height: 203px;
    width: 219px;
    position: absolute;
    top: -12px;
    z-index: -1;
} 
#flags-right {
    background: url(/assets/bandierine1.png) top left no-repeat;
    right: 0;
}
#flags-left {
    background: url(/assets/bandierine.png) top left no-repeat;
    left: 0;
}


/*----------------------
    Navigation
----------------------*/
nav {
    font-family: 'TrocchiBold', Arial, sans-serif;
    width: 100%;
    height: 128px;
    background: url(/assets/bg-nav.png) repeat-x top left;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    overflow: visible;
    width: 72%;
    min-width: 1020px;
}
nav li {
    padding: 0 .8em;
    float: left;
    margin-top: 22px;
    text-align: center;
    border: 1px solid transparent;
    @include transition(all 0.2s ease-in);
    a,
    a:visited {
        position: relative;
        font-size: 2em;
        height: 100%;
        letter-spacing: -2;
        line-height: 2.4em;
        color: #F6EDD8;
        cursor: pointer;
        font-weight: 200;
        @include text-shadow(rgba(0,0,0,0.4) 0 1px 2px);
    }
    a:hover {
        text-decoration: none;
        color: #F6EDD8;
    }
}

nav li:hover {
    background: rgba(0, 0, 0, 0.08);
    @include border-radius(4px);
}

nav .selected {
    background: rgba(255, 255, 255, 0.2);
    @include box-shadow(rgba(0,0,0,0.4) 0 1px 4px inset);
    @include border-radius(4px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar-pages {
    margin: 0 auto;
    max-width: 803px;
    min-width: 350px
}

/*----------------------
    Pages
----------------------*/

#page-content .group {
    background: #59554D url(/assets/cross.png);
    @include box-shadow(#7F7B6D 1px 1px 0px inset, #7F7B6D -1px -1px 0px inset);
    border: 1px solid #272219;
    padding: 0 12px;
    margin-bottom: 10px;
}
#page-content .group h3 {
    color: #F5EEDC;
    margin: 0;
    padding-top: .6em;
    padding-bottom: .4em;
    cursor: pointer;
}

#page-content .group h4 {
    color: #FEFEFE;
    @include text-shadow(rgba(0,0,0,0.2) 1px 2px 0);
    font-size: 1.4em;
    padding: .4em 0;
    margin: .8em auto .4em;
    text-align: center;
    background: #7c9464 url('/assets/stripes.png');
    width: 40%;
    border: 1px solid #68834c;
    @include box-shadow(#9cb07e 1px 1px 0px inset, #9cb07e -1px -1px 0px inset, #888 0px 1px 2px);
}

#multimedia .group-content {
    display: none;
}

#event p {
    font-weight: 200;
}

#contacts p {
    height: 35px;
    line-height: 35px;
    font-size: 1.4em;
    font-weight: 100;
}
#map p {
    font-weight: 100;
    line-height: 1em;
    font-size: 1.4em;
}
#map-canvas {
    height: 320px;
    width: 100%;
}

#map .paper-box {
    padding: 0 0 10px 0;
}

#map-canvas {
    opacity: 1;
    @include transition(all 2s ease);
}
#map-canvas.loading {
    opacity: 0;
}

#marker {
    position: relative;
    @include transition(all 0.5s ease-in-out);
    top: -30px;
    margin-bottom: 15px;
    opacity: 1;
}

#street {
    @include transition(all 1.5s ease);
    font-size: 1.2em;
    opacity: 1;
}
.localization:hover #marker {
    top: -60px; 
}

.localization.loading #marker {
    top: -120px;
    opacity: 0;
}

.localization.loading #street {
    opacity: 0;
}

.loading {
    .email,
    .phone,
    .address,
    .bookmark {
        @include rotate(-360deg);
    }
}

.email,
.phone,
.address,
.bookmark {
    height: 32px;
    width: 32px;
    margin: 0 8px;
    display: inline-block;
    vertical-align: middle;
    @include transition(all 0.5s ease-in-out);
    @include rotate(0deg);
}

.bookmark {
    background: url(/assets/bookmark.png) center center;
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s; 
}
.address {
    background: url(/assets/location.png) center center;
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
}
.phone {
    background: url(/assets/phone.png) center center;
    transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
}
.email {
    background: url(/assets/envelop.png) center center;
    transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
}

#programma .paper-box {
    font-family: Trocchi, Arial, sans-serif;
}

#programma .day {
    background: url('/assets/red-ribbon.png') top left no-repeat;
    height: 59px;
    width: 99px;
    color: #FEFEFE;
    font-size: 3em;
    padding-top: 8px;
    padding-left: 10px;
    @include text-shadow(rgba(0,0,0,0.2) 1px 2px 0);
    position: absolute;
    left: -10px;
    top: -30px;
}

.paper-box,
.wood-box {
    background: url('/assets/stripes.png') #F9F0CD;
    width: 100%;
    height: 100%;
    border: 1px solid #D8D0A1;
    @include box-shadow(white 0 1px 0px inset, #CCC 0 1px 2px);
    position: relative;
    margin-bottom: 20px;

    li {
        margin: 1em 0;
        font-size: 1.4em;
        color: #665;
    }
}

.wood-box {
    background: url('/assets/wood.png') #EAD3B3;
    border: 1px solid rgba(255,255,255,0.05);
    @include box-shadow(#222 0 0 3px inset);
    @include border-radius(3px);
}

#event .paper-box {
    padding: 20px 25px;
}

.white-box {
    background: url('/assets/stripes.png') #FFFEFE;
    border: 1px solid #FEFEFE;
    margin-bottom: 20px;
    padding: 20px 30px;
    @include box-shadow(#333 0 0px 3px inset, #FFF 0 1px 2px);
    @include border-radius(3px);
    font-weight: 100;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        text-align: center;
        margin: .2em 0 .5em 0;
        font-size: 1.4em;
        line-height: 1.34em;
        padding: .8em .8em .8em .8em;
        border-bottom: 1px solid #AAA;
    }
    li:last-child {
        border: 0;
        margin-bottom: 0; 
    }
    li span {
        font-size: 2.6em;
        display: block;
        margin-bottom: .45em;
        font-family: Trocchi, Arial, sans-serif;
        @include text-shadow(#CECECE 2px 2px 0px);
    }
}

#page-content {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
        margin-bottom: .9em;
        color: #5f5a66;
        font-size: 3em;
    }
    h2.huge {
        font-size: 8.5em;
        margin: 0;
        letter-spacing: -5px;
        line-height: 1.6em;
    }
    h3 {
        margin-top: 1em;
        margin-bottom: .6em;
    }
}

#event p {
    text-align: justify;
    font-size: 1.1em;
}

#event img {
    width: 100%;
    margin-bottom: 20px;
}

#multimedia {
    ul {
        list-style: none;
        margin: 0 auto 30px auto;
        padding: 0;
    }

    ul:before,
    ul:after {
        content: " ";
        display: table;  
    }
    ul:after {
        clear: both;   
    }
    li {
        float: left;
        padding: 8px 8px 22px;
        background: #fff;
        position: relative;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin-bottom: 20px;
        @include box-shadow(#777 0 1px 2px);
        z-index: 999;
        margin-right: 10px;
        margin-left: 10px;
        @include rotate(2deg);
        @include transition(all 0.2s ease-out);
    }
    li a {
        display: block;
        -moz-cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        height: 150px;
        width: 150px;
    }

    li:nth-child(odd) {
        @include rotate(-3deg);
    }

    li:hover {
        @include rotate(0deg);
        opacity: 0.85;
    }
}


.section {
    padding: 50px 0;
}

.section .breakout-area {
    margin-top: 40px;
}

.section-intro {
    margin-bottom: 40px;
    padding-top: 20px;
}

.ranking h3 {
    font-weight: bold;
    font-size: 2.6em;
    margin-bottom: 0.5em;
}

.ranking p {
    font-size: 2em;
    padding-top: 0.6em;
}

.ranking .span4 {
    position: relative;
    @include transition(all 0.4s ease-in-out);
    @include border-radius(5px);
}
.ranking .span4:hover {
    top: -5px;
    @include rotate(-5deg);
    background: rgba(255,255,255, 0.08);
}

.ranking .label {
    display: block;
    background: rgba(15, 116, 189, 0.3) url('/assets/stripes.png');
    width: 80%;
    margin: 0 auto;
}

/*----------------------
    Footer
----------------------*/
footer {
    background: url('/assets/footer-bg.jpg');
    position: relative;
    z-index: 999;
    font-size: 14px;
}

.top-footer {
    background: url('/assets/footer-top.png') top left repeat-x;
    height: 24px;
    margin-bottom: 30px;
}

footer .nav-list .nav-header {
    color: #555;
    font-size: 1em;
}

footer a,
footer a:visited,
footer a:hover,
footer p,
footer h4 {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFF;
}

footer #tweets small {
    text-transform: uppercase;
    color: #666;
    padding: 0;
}

footer #tweets li {
    margin-bottom: 20px;
}

footer #tweets li p {
    font-weight: normal;
    margin: 0;
}

.footer-bottom {
    font-size: 12px;
    opacity: 0.75;
}

footer .author {
    text-decoration: underline;
}

footer ul {
    list-style: none;
}
footer .sponsor li {
    color: black;
    font-size: 1.3em;
}

@keyframes swinging {
    0% { 
        transform: rotate(0deg);
    }
    30% { 
        transform: rotate(3deg);
    }
    100% { 
        transform: rotate(0deg);
    }
}

@-moz-keyframes swinging {
    0% { 
        -moz-transform:rotate(0deg);
    }
    30% { 
        -moz-transform: rotate(3deg);
    }
    100% { 
        -moz-transform:rotate(0deg);
    }
}

@-webkit-keyframes swinging {
    0% { 
        -webkit-transform:rotate(0deg);
    }
    30% { 
        -webkit-transform: rotate(3deg);
    }
    100% { 
        -webkit-transform:rotate(0deg);
    }
}

.huge {
    color: #3C3C3C;
    font-size: 8em;
    line-height: 1em;
}
.medium {
    color: #3C3C3C;
    font-size: 4em;
    line-height: 1em;
}
