.yui3-menu, .yui3-menu-children {
    left: -10000px;
    position: absolute;
    top: -10000px;
    visibility: hidden;
}
.yui3-menu.yui3-menu-open {
    left: auto;
    top: auto;
    visibility: visible;
    z-index: 2;
}
.yui3-menu-children {
    left: -10000px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}
.yui3-menu > .yui3-menu-children {
    position: relative;
}
.yui3-menu-open > .yui3-menu-children {
    left: 0;
    top: 0;
    visibility: visible;
}
.yui3-menu-item {
    position: relative;
}
.yui3-menu-label {
    color: inherit;
    display: block;
    line-height: 1.5;
    padding: 0 20px;
    text-decoration: none;
    white-space: nowrap;
}
a.yui3-menu-label {
    padding-right: 30px;
}
.yui3-menu-can-have-children > .yui3-menu-label:after {
    content: "▸";
    float: right;
    font-family: 'Lucida Grande','Lucida Sans Unicode','DejaVu Sans',sans-serif;
    margin-right: -20px;
    margin-top: -1px;
}
.yui3-menu-separator {
    background-color: #DFDFDF;
    display: block;
    font-size: 0;
    height: 1px;
    margin: 7px 2px;
    overflow: hidden;
}
.yui3-menu-hidden {
    display: none;
}
.yui3-skin-sam .yui3-menu-children {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 3px 6px #AFAFAF;
    padding: 5px 0;
}
.yui3-skin-sam .yui3-menu-label {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0 1px medium;
}
.yui3-skin-sam .yui3-menu-label, .yui3-skin-sam .yui3-menu-can-have-children > .yui3-menu-label:after {
    color: #333333;
}
.yui3-skin-sam .yui3-menu-can-have-children > .yui3-menu-label:hover:after {
    color: #FFFFFF;
}
.yui3-skin-sam a.yui3-menu-label:hover {
    background: linear-gradient(#5171EB, #1A43F4) repeat scroll 0 0 transparent;
    border-bottom-color: #0D36E7;
    border-top-color: #4767EA;
    color: #FFFFFF;
}
.yui3-skin-sam .yui3-menu-disabled > a.yui3-menu-label {
    background-image: none;
    border-color: transparent;
    cursor: default;
}
.yui3-skin-sam .yui3-menu-disabled > a.yui3-menu-label, .yui3-skin-sam .yui3-menu-can-have-children.yui3-menu-disabled > .yui3-menu-label:after {
    color: #BFBFBF;
}
.yui3-skin-sam .yui3-menu-heading .yui3-menu-label {
    color: #888888;
    text-transform: uppercase;
}
#yui3-css-stamp.skin-sam-gallery-sm-menu {
    display: none;
}
